{% extends "base.html" %}

{% block content %}
<div class="card border-success mb-3">
  <div class="card-header bg-transparent border-success">ตารางแสดงผลข้อมูลวนซ้ำ</div>
  <div class="card-body text-success">
    <table class="table mb-0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        {% for  i in count %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>
{% endblock %}